body {
  background-color: lightgrey;
}
.header {
  background: grey;
  color: white;
  display: flex;

  align-items: center;
  .header__title {
    text-align: center;
    margin: 0;
  }
}
.slideshow__container {
  border: 1px solid black;
  width: 70%;
  margin: 0 15% 0 15%;
  .slideshow__slides {
    display: none;
    width: 100%;
  }
  .slideshow__buttons{
    margin: 0 43% 0 43%;
      .slideshow__button-left {
      border: 1px solid black;
      }
      .slideshow__button-right {
        border: 1px solid black;
      }
      .slideshow__button-pause {
        border: 1px solid black;
      }
    }
  }
.footer {
  background: grey;
  color: white;
  display: flex;
  .footer__text {

  }
}
